@charset 'utf-8';

.site {
  min-height: 100vh;

  background-color: #8139F8;
  color: #8139F8;
  font-family: 'Century Gothic';
  font-size: 1.1rem;
}

.main {  
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 0;
  margin-bottom: 5px;
}

.main-body {
  padding: 20px;
  border-radius: 18px;

  width: 35%;

  background-color: #ffffff;
}

.main-header {
  border-bottom: 3px solid #8139F8;
}

.main-text {
  padding-top: 15px;
}

.btn-login {
  width: 100%;

  font-size: 1.2rem;
  background-color: #8139F8;
}

.link-formit {
  color: #ffffff;
}

.link-formit:hover {
  color: yellow;
}

@media (max-width: 760px) {
  .main-body {
    width: 70%;
  }
}

.text-formit {
  color: #8139F8;
}

.signup {
  margin-top: 5px;

  color: #ffffff;
  font-size: 1.2rem;
}

.footer > div {
  font-size: 0.8rem;
}